#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
packages/
.vs/
App_Data/
Aplikacija/api/Migrations
Aplikacija/api/obj
Aplikacija/api/bin/Debug
Aplikacija/api/bin/Debug/netcoreapp3.1/api.dll
Aplikacija/api/bin/Debug/netcoreapp3.1/api.pdb
Aplikacija/api/obj/Debug/netcoreapp3.1/api.assets.cache
Aplikacija/api/obj/Debug/netcoreapp3.1/api.csprojAssemblyReference.cache
Aplikacija/api/obj/Debug/netcoreapp3.1/api.dll
Aplikacija/api/obj/Debug/netcoreapp3.1/api.pdb
